<a href="{{ path }}" on:click="navigate(event)">
  <!--<img src="/assets/control-envy-logo.svg" alt="Control Envy&mdash;A modern, open control platform."> -->
</a>

<script>
import { stateRouter } from 'Router'

export default {
  data() {
    return {
      path: '',
      asr: stateRouter
    }
  },
  oncreate() {
    stateRouter.on('stateChangeEnd', () => {
      this.set({ asr: stateRouter })
    })

    this.set({ path: stateRouter.makePath(this.get('route')) })
  },
  methods: {
    navigate(event) {
      event.preventDefault()
      stateRouter.go(this.get('route'))
    }
  }
}
</script>
