<Boilerplate>
<h1>Docs!</h1>
<h2>Hello {{ name }}...</h2>
</Boilerplate>

<script>
import { Boilerplate } from 'Components'

export default {
  components: {
    Boilerplate
  },
  data() {
    return {
      name: 'testing'
    }
  }
}
</script>
