<footer class="{{ variant }} d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center py-4">
          <p class="mb-0">Copyright © 2017 Control Envy Corporation</p>
        </div>
      </div>
    </div>
  </div>
</footer>

<script>
export default {
  data() {
    return {
      variant: ''
    }
  }
}
</script>
