<header class="{{ classes }}">
  <nav id="nav" class="nav justify-content-between">
    <div class="nav-logo d-flex align-items-center">
      <NavLogo route="Home"></NavLogo>
    </div>
    <label>
      <input type="checkbox" bind:checked="checked"/>
      <div class="hamburger hamburger--squeeze d-flex align-items-center {{ checked ? 'checked' : '' }}">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </label>
    <div class="menu {{ checked ? 'menu-visible' : '' }}">
      <div>
        <div class="container">
          <ul>
            <!-- <li><a href="/login" class="nav-link">Sign in / Sign up</a></li> -->
          </ul>
        </div>
      </div>
      <div>
        <div class="container">
          <div class="d-flex justify-content-center">
            <div class="col-12 d-flex align-items-center justify-content-center email">
              <a href="mailto:support@controlenvy.com">support@controlenvy.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<script>
import { NavLogo } from 'Components'
import { NavLink } from 'Components'

export default {
  components: {
    NavLogo,
    NavLink
  },
  data() {
    return {
      checked: false,
      classes: ''
    }
  },
  oncreate() {
    var initNav = function(document, window) {
      'use strict'
      var elSelector = '.nav',
        element = document.querySelector(elSelector)

      if (!element) return true

      var elHeight = 0,
        elTop = 0,
        dHeight = 0,
        wHeight = 0,
        wScrollCurrent = 0,
        wScrollBefore = 0,
        wScrollDiff = 0

      window.addEventListener('scroll', function() {
        elHeight = element.offsetHeight
        dHeight = document.body.offsetHeight
        wHeight = window.innerHeight
        wScrollCurrent = window.pageYOffset
        wScrollDiff = wScrollBefore - wScrollCurrent
        elTop =
          parseInt(window.getComputedStyle(element).getPropertyValue('top')) +
          wScrollDiff

        if (
          wScrollCurrent <= 0 // scrolled to the very top; element sticks to the top
        )
          element.style.top = '0px'
        else if (wScrollDiff > 0) {
          // scrolled up; element slides in
          element.style.top = (elTop > 0 ? 0 : elTop) + 'px'
        } else if (wScrollDiff < 0) {
          // scrolled down
          if (
            wScrollCurrent + wHeight >=
            dHeight - elHeight // scrolled to the very bottom; element slides in
          )
            //element.style.top = ( ( elTop = wScrollCurrent + wHeight - dHeight ) < 0 ? elTop : 0 ) + 'px';
            element.style.top =
              ((elTop = wScrollCurrent + wHeight - dHeight) < 0 ? -70 : -70) +
              'px' // scrolled down; element slides out
          else
            element.style.top =
              (Math.abs(elTop) > elHeight ? -elHeight : elTop) + 'px'
        }

        if (window.scrollY > 80) {
          document.getElementById('nav').classList.add('nav-scrolled')
        }
        if (window.scrollY === 0) {
          document.getElementById('nav').classList.remove('nav-scrolled')
        }

        wScrollBefore = wScrollCurrent
      })
    }

    initNav(document, window, 0)
  }
}
</script>
