<a class="btn {{ type }}" href="{{ path }}{{ hash ? '#' + hash : '' }}" role="button" on:click="navigate(event)">
  {{ label }}
</a>

<script>
import { stateRouter } from 'Router'

export default {
  data() {
    return {
      path: '',
      asr: stateRouter,
      type: ''
    }
  },
  oncreate() {
    stateRouter.on('stateChangeEnd', () => {
      this.set({ asr: stateRouter })
    })

    this.set({ path: stateRouter.makePath(this.get('route')) })
  },
  methods: {
    navigate(event) {
      event.preventDefault()

      let route = this.get('route')
      const params = this.get('params')

      stateRouter.go(route, params, { inherit: true })
    }
  }
}
</script>
