<div class="wrapper d-flex flex-column justify-content-between">
<div class="d-flex flex-column flex-grow-1">
<Nav classes="{{ navClasses }}"/>
{{ yield }}
</div>
<Footer variant="{{ footerVariant }}"/>
</div>

<script>
import { Nav } from 'Components'
import { Footer } from 'Components'

export default {
  components: {
    Nav,
    Footer
  },
  data() {
    return {
      footerVariant: '',
      navClasses: ''
    }
  }
}
</script>
