<Boilerplate>
<h1 class="homepage">Node-tinyCBOR</h1>
<p class="homepage">A Node.js Addon for the tinyCBOR Library</p>
<body>
	 <div>
		  <ul>
		    <li>
		      <h2>What Is It?</h2>
			      <p>Node-tinycbor is a <a href="https://nodejs.org/api/addons.html" target="_blank">Node.js addon</a> that allows use of the C-based <a href="https://01org.github.io/tinycbor/current/" target="_blank">tinyCBOR</a> library in JavaScript programs. TinyCBOR is an implementation of <a href="http://cbor.io/" target="_blank">Concise Binary Object Representation</a>, an extremely light-weight data format.
			      </p>
		    </li>
		    <li>
		      <h2>The Purpose</h2>
			      <p>The goal of node-tinycbor is to create a capable and powerful tool for encoding and decoding data with a minimal footprint, that competes with current solutions.
			      </p>
		    </li>
		    <li>
		      <h2>Features Supported</h2>
			      <p>Currently, features supported by the addon include the following:</p>
			      	<ul>
			      		<li>
			      			<p>Encoding and decoding of numbers, strings, booleans, arrays, objects, nulls, and undefineds</p>
			      		</li>
			      		<li> 
			      			<p>CBOR to JSON conversion</p>
			      		</li>
			      		<li>
			      			<p>CBOR to Text conversion</p>
			      		</li>
			      	</ul>
		    </li>
		    <li>
		      <h2>Performance</h2>
		      	<p>See how node-tinycbor compares to JSON and MessagePack</p>
		      	<img src="/node-tinycbor/assets/encode.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
		      	<img src="/node-tinycbor/assets/decode.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
		      	<p style="clear: both;">
		    </li>
		    <li>
		    	<h2>Link to NPM Project Page</h2>
		    	  <a href="https://www.npmjs.com/package/tinycbor" target="_blank">node-tinycbor.</a>
		    </li>
		  </ul>
	  </div>
  </body>
</Boilerplate>

<script>
import { Boilerplate } from 'Components'

export default {
  components: {
    Boilerplate
  },
  data() {
    return {}
  }
}
</script>
