<a class="{{ classes }} {{ isActive }}" href="{{ path }}" on:click="navigate(event)">
  {{ label }}
</a>

<script>
import { stateRouter } from 'Router'

export default {
  data() {
    return {
      path: '',
      asr: stateRouter,
      classes: ''
    }
  },
  computed: {
    isActive(asr, route) {
      return asr.stateIsActive(route) ? 'active' : ''
    }
  },
  oncreate() {
    stateRouter.on('stateChangeEnd', () => {
      this.set({ asr: stateRouter })
    })

    this.set({ path: stateRouter.makePath(this.get('route')) })
  },
  methods: {
    navigate(event) {
      event.preventDefault()

      let route = this.get('route')

      if (!route.match(/\?/)) {
        route += location.search
      }

      stateRouter.go(this.get('route') + location.search)
    }
  }
}
</script>
