$nav-bg: #232d57;
$menu-bg: #11131f;
$home-body-bg: #c09359;
$footer-bg: #006600;
$footer-text: rgba(0, 0, 0, 0.5);
$heading: #41434C;
$paragraph: #565965;
$white: #fff;
$white-home: #EEF0F7;
//$green: #0AB294;
$green: #1DB896; //new
$green-hover: #17977b;
$green-muted: rgba(29, 184, 150, 0.5);
$green-25: rgba(29, 184, 150, 0.25);
$purple: #5867BD;
$section-dark: #1E233A;


@import 'bootstrap/scss/bootstrap';

// Must be after bootstrap. Breaks a bunch of styles.
$gray: #f5f6fc;

html {
  background-color: $home-body-bg;
}

body {
  line-height: 26px;
  color: $paragraph;
}

#app {
  height: 100%;
}

.wrapper {
  min-height: 100vh;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: $heading;
}

.h2 {
  font-weight: 700;
  margin: 1rem 0;
}

.small-h2 {
  margin-bottom: 0;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  color: $green;
}

// Links
a {
  color: $green;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  &:hover,
  &:focus {
    color: $green-hover;
    text-decoration: none;
  }
}

// Buttons
.btn-primary {
  background-color: $green;
  border-color: $green;
  border-radius: 2px;
  color: $white;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  &:hover,
  &:focus {
    background-color: $green-hover;
    border-color: $green-hover;
    color: $white;
  }
  &:focus {
    box-shadow: 0 0 0 2px $green-muted;
  }
  &.btn-danger {
    background-color: #d9534f;
    border-color: #d9534f;
    &:hover,
    &.focus {
      background-color: #c73833;
      border-color: #c73833;
    }
    &:focus {
      box-shadow: 0 0 0 2px rgba(217, 83, 79, 0.5);
    }
  }
}

.btn-outline-primary {
  border-color: $green;
  border-radius: 2px;
  border-width: 2px;
  color: $white;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  &:hover,
  &:focus {
    background-color: $green-25;
    border-color: $green;
    color: $white;
  }
  &:focus {
    box-shadow: 0 0 0 2px $green-muted;
  }
}

.btn-obround {
  border-radius: 100px;
  padding: 0.6rem 1.5rem;
}

// Lists
.ul-green {
  line-height: 2;
  padding-left: 20px;
  margin-bottom: 0;
  li {
    color: $green;
    span {
      color: $paragraph;
    }
  }
}

// Sections
#landing {
  background-color: $green;
}

.section-padding {
  padding: 4rem 0;
}

.section-white {
  background-color: $white;
}

.section-gray {
  background-color: $gray;
}

.section-green {
  background-color: $green;
  color: $white;
  h2 {
    color: $white;
  }
  h3 {
    color: $white;
  }
}

// Custom Utilities
.pt-2r {
  padding-top: 2rem;
}

.pb-2r {
  padding-bottom: 2rem;
}

.pt-4r {
  padding-top: 4rem;
}
.pb-4r {
  padding-bottom: 4rem;
}

.pt-6r {
  padding-top: 6rem;
}
.pr-6r {
  padding-right: 6rem;
}
.pb-6r {
  padding-bottom: 6rem;
}
.pl-6r {
  padding-left: 6rem;
}

.pb-8r {
  padding-bottom: 8rem;
}

.pb-10r {
  padding-bottom: 10rem;
}

.pb-12r {
  padding-bottom: 12rem;
}

.mb-875 {
  margin-bottom: 0.875rem;
}

.mt-2r {
  margin-top: 2rem;
}

.mb-2r {
  margin-bottom: 2rem;
}

.mb-6r {
  margin-bottom: 6rem;
}

.flex-grow-1 {
  flex-grow: 1;
}

@media (min-width: 768px) {
  .pt-md-6r {
    padding-top: 6rem !important;
  }
}

@media (min-width: 992px) {
  .pt-lg-4r {
    padding-top: 4rem !important;
  }
  .pb-lg-4r {
    padding-bottom: 4rem !important;
  }

  .pt-lg-6r {
    padding-top: 6rem !important;
  }
  .pr-lg-6r {
    padding-right: 6rem !important;
  }
  .pb-lg-6r {
    padding-bottom: 6rem !important;
  }
  .pl-lg-6r {
    padding-left: 6rem !important;
  }

  .pb-lg-8r {
    padding-bottom: 8rem !important;
  }

  .pb-lg-10r {
    padding-bottom: 10rem !important;
  }

  .mt-lg-2r {
    margin-top: 2rem !important;
  }

  .mb-lg-2r {
    margin-bottom: 2rem !important;
  }

  .mb-lg-6r {
    margin-bottom: 6rem !important;
  }
}

.small-caps {
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 1rem;
}

.text-muted {
  color: #b0b3c1 !important;
}

// Navbar
.nav {
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 1000;
  &.nav-scrolled {
    background-color: $nav-bg;
  }
  .nav-logo {
    img {
      height: 26px;
      padding-left: 1.5rem;
      margin-top: 6px;
    }
  }
  label {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    z-index: 4;
    cursor: pointer;
    padding: 0 1.5rem;
    input {
      display: none;
      visibility: hidden;
    }
  }
  .menu {
    &.menu-visible {
      visibility: visible;
      opacity: 1;
      z-index: 2;
    }
    background-color: $menu-bg;
    font-size: 1.5rem;
    .container {
      width: 100%;
    }
    ul {
      list-style: none;
      padding: 0;
      margin-bottom: 0;
      width: 100%;
      li {
        width: 100%;
        height: 4rem;
        margin: 0.5rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $white;
          -webkit-transition-duration: 0s;
          transition-duration: 0s;
          &:hover {
            color: $white;
            border-color: transparent;
          }
          &:active {
            background-color: $green;
            border-radius: 3px;
          }
        }
        .nav-link {
          border: none;
          padding: 1rem 2rem;
          &:hover {
            border: none;
          }
        }
      }
      hr {
        border-top: 2px solid rgba(46,52,77,1);
      }
    }
    .email {
      a {
        padding: 1rem 0;
        font-size: 1rem;
        font-weight: normal;
        text-transform: lowercase;
        color: $green;
        &:hover {
          border-color: transparent;
        }
        &:active {
          color: $green;
        }
      }
    }
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }

  $hamburger-padding-x                       : 15px !default;
  $hamburger-padding-y                       : 15px !default;
  $hamburger-layer-width                     : 24px !default;
  $hamburger-layer-height                    : 2px !default;
  $hamburger-layer-spacing                   : 5px !default;
  $hamburger-layer-color                     : $white !default;
  $hamburger-layer-border-radius             : 4px !default;
  $hamburger-hover-opacity                   : 0.7 !default;
  $hamburger-hover-transition-duration       : 0.15s !default;
  $hamburger-hover-transition-timing-function: linear !default;

  .hamburger {
    //padding: $hamburger-padding-y $hamburger-padding-x;
    //display: inline-block;
    //cursor: pointer;

    transition-property: opacity, filter;
    transition-duration: $hamburger-hover-transition-duration;
    transition-timing-function: $hamburger-hover-transition-timing-function;

    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;

    &:hover {
      //opacity: $hamburger-hover-opacity;
    }
  }
  .hamburger-box {
    width: $hamburger-layer-width;
    height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
    display: inline-block;
    position: relative;
  }
  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: $hamburger-layer-height / -2;
    width: 21px;
    &,
    &::before,
    &::after {
      right: 0;
      //width: $hamburger-layer-width;
      height: $hamburger-layer-height;
      background-color: $hamburger-layer-color;
      border-radius: $hamburger-layer-border-radius;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease;
    }
    &::before,
    &::after {
      content: "";
      display: block;
    }
    &::before {
      top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
      width: 24px;
    }
    &::after {
      bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
      width: 18px;
    }
  }
  .hamburger--squeeze {
    .hamburger-inner {
      transition-duration: 0.1s;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
      &::before {
        transition: top 0.1s 0.14s ease,
                    opacity 0.1s ease;
      }
      &::after {
        transition: bottom 0.1s 0.14s ease,
                    transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      }
    }
    &.checked {
      .hamburger-inner {
        width: 22px;
        transform: rotate(45deg);
        transition-delay: 0.14s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        background-color: $white;
        &::before {
          top: 0;
          opacity: 0;
          transition: top 0.1s ease,
                      opacity 0.1s 0.14s ease;
        }
        &::after {
          width: 22px;
          bottom: 0;
          transform: rotate(-90deg);
          transition: bottom 0.1s ease,
                      transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
      }
    }
  }
  .hamburger--slider {
    .hamburger-inner {
      top: $hamburger-layer-height / 2;

      &::before {
        top: $hamburger-layer-height + $hamburger-layer-spacing;
        transition-property: transform, opacity;
        transition-timing-function: ease;
        transition-duration: 0.15s;
      }

      &::after {
        top: ($hamburger-layer-height * 2) + ($hamburger-layer-spacing * 2);
      }
    }

    &.checked {
      .hamburger-inner {
        $y-offset: $hamburger-layer-spacing + $hamburger-layer-height;

        transform: translate3d(0, $y-offset, 0) rotate(45deg);
        width: 24px;

        &::before {
          transform: rotate(-45deg) translate3d($hamburger-layer-width / -7, $hamburger-layer-spacing * -1, 0);
          opacity: 0;
        }

        &::after {
          transform: translate3d(0, $y-offset * -2, 0) rotate(-90deg);
          width: 24px;
        }
      }
    }
  }
}

// Footer
footer {
  //min-height: 30vh;
  background-color: $footer-bg;
  font-size: 14px;
  text-align: center;
  color: $footer-text;
  a {
    color: $footer-text;
    &:hover {
      color: $footer-text;
    }
  }
  &.white {
    background-color: $white;
    color: rgba(86, 89, 101, 0.5);
  }
  &.gray {
    background-color: $gray;
    color: rgba(86, 89, 101, 0.5);
  }
}

//My own
.homepage {
  text-align: center;
}

li {
  list-style: none;
}
